@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/chakra_petch/ChakraPetch-Light.ttf') format('truetype');
}

body{
    background-color: rgba(24, 24, 27, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__nav span,
.header__contact span{
    color: rgba(255, 255, 255, 1);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header__contact{
    display: flex;
    align-items: center;
    align-self: center;
    padding: 20px;
    border: 2px solid;
    border-image: linear-gradient(to right, rgba(12, 186, 241, 1), rgba(233, 92, 233, 1)) 1;
    flex-direction: row;
}

.header__corner-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.header__corner-img img{
    transform: rotate(180deg);
    width: 100%;
    height: auto; 
}

.aboutUs-heading h2,
.aboutUs-whyChooseUs-secondBlock__text h2{
    color: rgba(255, 255, 255, 1);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4rem;
}

.aboutUs-heading h4{
    color: rgba(255, 255, 255, 1);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    margin-bottom: 100px;
}

.aboutUs-heading h4::after{
    content: "About us";
    color: grey;
}

.aboutUs-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.aboutUs-heading img:nth-of-type(1){
    position: absolute;
    top: -50px;
    z-index: -1;
}

.aboutUs-heading img:nth-of-type(2){
    width: 68%;
}

.aboutUs-aboutUs{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    width: 80%;
    margin: 100px auto 200px auto;
}

.main-aboutUs__img, .main-whyChooseUs__text{grid-area: 1 / 2 / 2 / 3;}
.main-aboutUs__text, .main-whyChooseUs__img{grid-area: 1 / 1 / 2 / 2;}

.about-aboutUs__img{
    position: relative;
    width: 100%;
    height: 100%;
}

.about-aboutUs__img-man{
    position: relative;
    z-index: 3; 
}

.aboutUs-aboutUs__img-BgMan{
    position: absolute;
    right: 300px;
    bottom: -160px;
    z-index: -2; 
}

.aboutUs-aboutUs__img-LightBgMan{
    position: absolute;
    bottom: -160px;
    right: 0px;
    z-index: -1;  
}

.aboutUs-aboutUs__img-video {
    position: absolute;
    bottom: -200px;
    right: 600px;
    z-index: 4; 
}

.aboutUs-aboutUs__text{
    font-family: 'Chakra Petch', sans-serif;
    color: #b0b0b2;
}

.aboutUs-aboutUs__text h4,
.aboutUs-whyChooseUs__text h4,
.aboutUs-whyChooseUs-secondBlock__text h4{
    background: linear-gradient(to right, rgba(12, 186, 241, 1) 0%, rgba(233, 92, 233, 1) 10%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.aboutUs-aboutUs__text h2,
.aboutUs-whyChooseUs__text h2,
.aboutUs-whyChooseUs-secondBlock__text h2{
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    font-size: 3rem;
    margin-top: 0px;
}

.aboutUs-whyChooseUs__text h2:nth-of-type(1){
    margin-bottom: 0px;
}

.aboutUs-aboutUs__text > span{
    line-height: 2;
}

.aboutUs-whyChooseUs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.aboutUs-whyChooseUs__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutUs-whyChooseUs__info{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    width: 69%;
    height: auto;
    background-color: rgba(37, 37, 50);
    padding: 5vh 0;
    border: 1px solid #4e4e59;
}

.aboutUs-whyChooseUs__expertise{grid-area: 1 / 1 / 2 / 2;}
.aboutUs-whyChooseUs__customization{grid-area: 1 / 2 / 2 / 3;}
.aboutUs-whyChooseUs__service{grid-area: 1 / 3 / 2 / 4;}

.aboutUs-whyChooseUs h3{
    font-family: 'Chakra Petch', sans-serif;
    color:rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 1.6rem;
}

.aboutUs-whyChooseUs span{
    font-family: 'Chakra Petch', sans-serif;
    color: #b0b0b2;
    line-height: 2;
}

.aboutUs-whyChooseUs-secondBlock{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    width: 69%;
    margin: 100px auto;
}

.aboutUs-whyChooseUs-secondBlock__text{grid-area: 1 / 2 / 2 / 3;}
.aboutUs-whyChooseUs-secondBlock__img{grid-area: 1 / 1 / 2 / 2;}

.aboutUs-whyChooseUs-secondBlock__img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.aboutUs-whyChooseUs-secondBlock__img-man{
    position: relative;
    width: 70%;
    height: auto;
    z-index: 1;
}

.aboutUs-whyChooseUs-secondBlock__img-Bgman{
    position: absolute;
    z-index: -1; 
    bottom: 10px;
}

.aboutUs-whyChooseUs-secondBlock__img-BgLightMan{
    position: absolute;
    left: -41%;
    z-index: -2;  
}

.aboutUs-whyChooseUs-secondBlock__img-Video {
    position: absolute;
    bottom: -10%;
    right: 30%;
    z-index: 2; 
}

.aboutUs-whyChooseUs-secondBlock__text span {
    font-family: 'Chakra Petch', sans-serif;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    font-size: 24px;
}

.aboutUs-whyChooseUs-secondBlock__text span::after {
    content: '⌵';
    font-size: 10px;
    color: rgba(255, 255, 255);
}